# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
src-tauri/target
src-tauri/binaries/*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.trae/documents/*
.trae/rules/口播文档.md
.trae/rules/*
backupDel/ServerList.tsx.bak
改进需求文档.md
自定义组件.md
STYLE_GUIDE.md
TECHNICAL_DOC.md
# pnpm-lock.yaml
.vercel/project.json
release/*
back-rust/target/*
backupDel/*
